.header__logo {
  padding: 0 19px 40px 0px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding: 0 19px 36px 19px;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    max-width: 104px;
    padding: 0 19px 34px 27px;
  }
}
