.popup__container_photo {
  padding: 0;
  background-color: transparent;
  max-width: 75vw;
  width: inherit;
  max-height: 75vh;
  position: relative;
}

@media screen and (max-width: 700px) {
  .popup__container_photo {
    max-width: 75vw;
    padding: 0;
  }
}
